name: tests core v11

on:
  push:
  pull_request:
  schedule:
    - cron:  '56 4 * * *'

jobs:
  testsuite:
    name: all tests with core v11
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.4', '8.0', '8.1', '8.2', '8.3' ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install testing system
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -t 11 -s composerUpdate

      - name: Lint PHP
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s lint

      - name: CGL
        if: ${{ matrix.php <= '8.1' }}
        run: Build/Scripts/runTests.sh -n -p ${{ matrix.php }} -s cgl

      - name: Unit Tests
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s unit

      - name: Functional Tests with mariadb and mysqli
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d mariadb -i 10.5 -a mysqli -s functional

      - name: Functional Tests with mariadb and pdo_mysql
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d mariadb -i 10.5 -a pdo_mysql -s functional

      - name: Functional Tests with mysql and mysqli
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d mysql -i 8.0 -a mysqli -s functional

      - name: Functional Tests with mysql and pdo_mysql
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d mysql -i 8.0 -a pdo_mysql -s functional

      - name: Functional Tests with postgres
        # v11 postgres functional disabled with PHP 8.2 since https://github.com/doctrine/dbal/commit/73eec6d882b99e1e2d2d937accca89c1bd91b2d7
        # is not fixed in doctrine core v11 doctrine 2.13.9
        if: ${{ matrix.php <= '8.1' }}
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d postgres -i 10 -s functional

      - name: Functional Tests with sqlite
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d sqlite -s functional

      - name: Acceptance Tests mariadb and mysqli
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s acceptance -i 10.5 -d mariadb -a mysqli

      - name: Acceptance Tests mariadb and pdo_mysql
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s acceptance -i 10.5 -d mariadb -a pdo_mysql

      - name: Acceptance Tests mysql and mysqli
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s acceptance -i 8.0 -d mysql -a mysqli

      - name: Acceptance Tests mysql and pdo_mysql
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s acceptance -i 8.0 -d mysql -a pdo_mysql

      - name: Acceptance Tests postgres
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s acceptance -i 10 -d postgres

      - name: Acceptance Tests sqlite
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s acceptance -d sqlite
